<div class="container">

  <div class="jumbotron">
    <h1 id="greetings" class="display-3">Hello {{this.me.name}}!
      <img [src]="this.me.picture" style="width: 56px;" class="rounded" />
    </h1>

    <p class="lead">This is where you can manage your information.</p>

    <hr class="my-4">
    <div class="card-deck">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title" id="name">Calculate your max Bench Press!</h4>
        </div>
        <div class="card-body text-center">
          <div class="input-group">
            <span class="input-group-addon">Reps:</span>
            <input type="text" class="form-control" [(ngModel)]="benchReps" placeholder="Amount of reps you did" aria-describedby="basic-addon3">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Weight:</span>
            <input type="text" class="form-control" [(ngModel)]="benchWeight" placeholder="Lbs/Kilograms" aria-describedby="basic-addon3">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="MaxBench">Max:</span>
            <output id="maxoutput" placeholder="0">{{benchWeight * (1 + benchReps / 30)}}</output>
            <!-- <input type="text" class="form-control" placeholder="{{benchWeight * (1 + benchReps / 30)}}" aria-describedby="basic-addon3"> -->
          </div>
          <div class="card-body text-center">
            <a class="btn btn-primary">Current Max: {{this.me.maxBench}}</a>
          </div>
          <div class="card-body text-center">
            <a (click)="maxBench(benchWeight * (1 + benchReps / 30))" class="btn btn-primary">Save</a>
          </div>
        </div>

      </div>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title" id="name">Calculate your max Squat!</h4>
        </div>
        <div class="card-body text-center">
          <div class="input-group">
            <span class="input-group-addon">Reps:</span>
            <input type="text" class="form-control" [(ngModel)]="squatReps" placeholder="Amount of reps you did" aria-describedby="basic-addon3">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Weight:</span>
            <input type="text" class="form-control" [(ngModel)]="squatWeight" placeholder="Lbs/Kilograms" aria-describedby="basic-addon3">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="MaxSquat">Max:</span>
            <output id="maxoutput" placeholder="0">{{squatWeight * (1 + squatReps / 30)}}</output>

            <!-- <input type="text" class="form-control" id="MAX" placeholder="Lbs/Kilograms" aria-describedby="basic-addon3"> -->
          </div>
          <div class="card-body text-center">
            <a class="btn btn-primary">Current Max: {{this.me.maxSquat}}</a>
          </div>
          <div class="card-body text-center">
            <a (click)="maxSquat(squatWeight * (1 + squatReps / 30))" class="btn btn-primary">Save</a>
          </div>
        </div>

      </div>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title" id="name">Calculate your max Deadlift!</h4>
        </div>
        <div class="card-body text-center">
          <div class="input-group">
            <span class="input-group-addon">Reps:</span>
            <input type="text" class="form-control" [(ngModel)]="DLReps" placeholder="Amount of reps you did" aria-describedby="basic-addon3">
          </div>
          <div class="input-group">
            <span class="input-group-addon">Weight:</span>
            <input type="text" class="form-control" [(ngModel)]="DLWeight" placeholder="Lbs/Kilograms" aria-describedby="basic-addon3">
          </div>
          <div class="input-group">
            <span class="input-group-addon" id="MaxDeadlift">Max:</span>
            <output text-align="center" id="maxDL" placeholder="0">{{DLWeight * (1 + DLReps / 30)}}</output>
            <!-- <input type="text" class="form-control" id="MAX" placeholder="Lbs/Kilograms" aria-describedby="basic-addon3"> -->
          </div>
          <div class="card-body text-center">
            <a class="btn btn-primary">Current Max: {{this.me.maxDeadlift}}</a>
          </div>
          <div class="card-body text-center">
            <a (click)="maxDeadlift(DLWeight * (1 + DLReps / 30))" class="btn btn-primary">Save</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <a class="btn btn-primary" (click)="logout()">Log out</a>
</div>