<footer class="footer-distributed">
  
      <div class="footer-left">
  
          <h3>Healthy
              <span>Lifting</span>
          </h3>
  
          <p class="footer-links">
              <a href="#">Home</a>
              ·
              <a href="#">Blog</a>
              ·
              <a href="#">Pricing</a>
              ·
              <a href="#">About</a>
              ·
              <a href="#">Faq</a>
              ·
              <a href="#">Contact</a>
          </p>
  
          <p class="footer-company-name">Healthier Lifting © 2017</p>
          <p class="footer-company-name">James Cerniglia</p>
      </div>
  
      <div class="footer-center">
  
          <div>
              <i class="fa fa-map-marker"></i>
              <p>
                  <span>1000 Hawk Drive</span> New Paltz, New York</p>
          </div>
  
          <div>
              <i class="fa fa-phone"></i>
              <p>(516)384-3612</p>
          </div>
  
          <div>
              <i class="fa fa-envelope"></i>
              <p>
                  <a href="mailto:support@company.com">Cerniglj1@hawkmail.newpaltz.edu</a>
              </p>
          </div>
  
      </div>
  
      <div class="footer-right">
  
          <p class="footer-company-about">
              <span>About Healthy Lifting</span>
              Healthy Lifting is a take on healthy living, but with the addition of lifting to the situation.
          </p>
  
          <div class="footer-icons">
  
              <a href="https://www.facebook.com/">
                  <img class="card-img-top" src="assets/img/facebook.png" alt="Card image cap">
                  <i class="fa fa-facebook"></i>
              </a>
              <a href="#">
                  <img class="card-img-top" src="assets/img/twitter.png" alt="Card image cap">
                  <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/">
                  <img class="card-img-top" src="assets/img/linkedin.png" alt="Card image cap">
                  <i class="fa fa-linkedin"></i>
              </a>
              <a href="https://github.com/cerniglj1/2017FitnessApp">
                  <img class="card-img-top" src="assets/img/github.png" alt="Card image cap">
                  <i class="fa fa-github"></i>
              </a>
              <a href="https://www.instagram.com/cernigs/">
                  <img class="card-img-top" src="assets/img/instagram.png" alt="Card image cap">
                  <i class="fa fa-github"></i>
              </a>
          </div>
      </div>
  </footer>