<div class="container">
  <div class="jumbotron">

    <div class="col-md-12">
      <div class="row">
        <div class="card text-center">
          <div class="card-header">
            Shared Users ({{ this.room.players.length}})
          </div>
          <ul class="list-group list-group-flush ">
            <li *ngFor="let x of room.players; index as i" class="list-group-item" (click)="viewExercises(x)">
              <img [src]="x.picture" style="width: 32px;" class="rounded" /> {{x.name}}
            </li>
          </ul>
        </div>

        <div class="card text-center">
          <div class="card-header">
            {{this.other.name}}'s exercises
          </div>
          <ul class="list-group list-group-flush ">
            <li *ngFor="let x of other.myExercises; index as i" class="list-group-item">
              {{x.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>