$primary-background: rgb(96, 206, 160);
$secondary-background:rgb(167, 236, 206);
$dark: #042e1d;

$monospace: "Courier New",
Courier,
monospace;

.navbar {
    .li {
        text-align: center;
        align-content: center;
    }
    span {
        color: primary-background;
    }
    .active {
        background: $secondary-background;
    }
}