$primary-background: rgb(96, 206, 160);
$primary-backgroundD: #2c8f62;
$secondary-background:rgb(167, 236, 206);


#grad {
    background: linear-gradient(to bottom right, $primary-backgroundD, $secondary-background);
  }