
<div class="container">
  <div id="grad" class="jumbotron">
      <h3 >Welcome to a healthier lifestyle.</h3>
  </div>

  <div class="row">
      <div class="col-md-4">
          <div class="card text-center">
              <img class="card-img-top" src="assets/img/Exercises.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Exercises</h4>
                  <p class="card-text">Click here ot explore our exercise list and add them to your have done and can do lists.</p>
                  <div class="w3-center">
                      <a routerLink="/exercises" class="btn btn-primary btn" text-align:center>Exercises</a>
                  </div>
              </div>
          </div>

      </div>
    
      <div class="col-md-4">
          <div class="card text-center">
              <img class="card-img-top" src="assets/img/you.jpg" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">You</h4>
                  <p class="card-text">Manage your bodyweight and other great stuff in here!</p>
                  <a routerLink="/you" class="btn btn-primary">You</a>
              </div>
          </div>

      </div>

  </div>
</div>