<div class="container">
  <div class="jumbotron">
    <h1 id="greetings" class="display-3">Hello, world!</h1>
    <p class="lead">This is where you can manage your workouts.</p>
    <p class="lead">
      <u>By clicking on the default exercise list, you can add to your finished exercises. You can also fill out the input fields
        to add information to each one of your workouts.</u>
    </p>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-2.5">
        <div class="card text-center">
          <div class="card-header" id="Default Exercises">
            Default Exercises
          </div>
          <ul class="list-group list-group-flush" id="defaultExercises">
              
          </ul>
        </div>
      </div>
      <div class="col-md-3.1">
        
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="card text-center">
                <div class="card-header" id="Finished Exercises">
                  My finished Exercises
                </div>
                <ul class="list-group list-group-flush " id="my-Exercises">
                  <li class="list-group-item" id="default-message">You haven't completed any exercises.</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>